
.door-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  cursor: pointer;
  display: flex;
}

.door-left,
.door-right {
  width: 50%;
  height: 100%;
  background-image: url('../../assets/door.jpg');
  background-size: 200% 100%;
  transition: transform 1s ease-in-out;
}

.door-left {
  background-position: 0% 0%;
}

.door-right {
  background-position: 100% 0%;
}

.door-container.open .door-left {
  transform: translateX(-100%);
}

.door-container.open .door-right {
  transform: translateX(100%);
}



